.sidebar{
    display: flex;
    flex-direction: column;
}

/* ComposeBtn css design */

.compose-btn{
    padding: 10px 30px !important;
    box-shadow: 2px 2px 3px #ccc !important;
    border-radius: 40px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: 10px !important;
    max-width: 150px !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
    color: black !important;
}

/* SidebarOptions css design */

.sidebarOptions{
    display: flex;
    align-items: center;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px 25px;
    margin-right: 20px;
}

.sidebarOptions:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

.sidebarOptions svg{
    color: rgb(94, 94, 94);
    font-size: 20px;
    width: 20px;
}

.sidebarOptions h4{
    font-size: 14px;
    flex: 1;
    margin-left: 10px;
    font-weight: normal;
}

.sidebarOptions span{
    opacity: 0;
    color: rgb(94,94,94);
    font-size: 12px;
}

.sidebarOptions-active{
    background-color: #fce8e6;
}

.sidebarOptions-active svg,
.sidebarOptions-active h4,
.sidebarOptions-active span
{
    color: #d93025;
    font-weight: bold;
    opacity: 1;
}

.sidebar-heading{
    margin-left: 25px;
    font-weight: bold;
}

