.sidebar{
    display: flex;
    flex-direction: column;
}

.compose-btn{
    padding: 10px 30px !important;
    box-shadow: 2px 2px 3px #ccc !important;
    border-radius: 40px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: 10px !important;
    max-width: 150px !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
    color: black !important;
}

.sidebarOptions{
    display: flex;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0 20px;
    cursor: pointer;
}

.sidebarOptions:hover{
    background-color: whitesmoke;
}

.sidebarOptions-left{
    margin-right: 10px;
}

.sidebarOptions-left svg{
    font-size: 20px;
}


.sidebarOptions-middle span{
    font-size: 14px;
}

.sidebarOptions-middle{
    margin-right: 80px;
}

.sidebarOptions-right span{
    font-size: 12px;
    opacity: 0;
}

