.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: whitesmoke;
}

.login-box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 10px 50px 70px 50px;
}

.login-box img{
    width: 400px;
}

.login-box button{
    border: 0;
    outline: 0;
    background-color: #4385f5;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 15px 30px;
    border-radius: 40px;
    margin-top: -40px;
}

.login-box button:hover{
    cursor: pointer;
    background-color: #1a73e8;
}